<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net5.0\GymTrainingPlanner.Api.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="GymTrainingPlanner" value="Server=127.0.0.1; Port=5432; Database=GymTrainingPlanner; User Id=GymTrainingPlannerUser; Password=SomePassword123." />
          <environmentVariable name="GYM_TRAINING_PLANNER" value="Server=127.0.0.1; Port=5432; Database=GymTrainingPlanner; User Id=GymTrainingPlannerUser; Password=SomePassword123." />
          <environmentVariable name="GYM_TRAINING_PLANNER_CONNECTION_STRING" value="Server=127.0.0.1; Port=5432; Database=GymTrainingPlanner; User Id=GymTrainingPlannerUser; Password=SomePassword123." />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>